*{
     margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contOfert {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto;
  width: 90%;
}

.bannerOfert {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;

}

.bannerOfert img {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ofertasOF{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}


.ofer {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ofer img {
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
}

h2 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.galOfer {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: contain;
}

/* .btOfer {
    width: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    background: linear-gradient(#fdbe02 0%, #b78a03 100%);
    padding: 2%;
    margin-top: 1%;
    border: 1px solid;
    border-radius: 3px;
    border-style: outset;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0% 25%;
    cursor: pointer;
} */

.ofertitas img {
  width: 16%;
  box-shadow: 0 4px 8px;
  max-height: 100%;
  margin: 1.5vw;
  padding: 5% 1%;
  
}


.ofer:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

/* Responsive para móvil */
@media screen and (max-width: 768px) {
  .ofer {
    width: 100%;
  }
  .ofer p {
    font-size: 1rem;
  }
}
